<div class="panel panel-default" id="billing" data-hook>
  <div class="panel-heading">
    <h3 class="panel-title"><%= title %></h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <tbody>
        <tr>
          <th><%= Spree::Address.human_attribute_name(:firstname) %></th>
          <td><%= address.firstname %>
        </tr>
        <tr>
          <th><%= Spree::Address.human_attribute_name(:lastname) %></th>
          <td><%= address.lastname %>
        </tr>
        <tr>
          <th><%= Spree::Address.human_attribute_name(:address1) %></th>
          <td><%= address.address1 %>
        </tr>
        <tr>
          <th><%= Spree::Address.human_attribute_name(:address2) %></th>
          <td><%= address.address2 %>
        </tr>
        <tr>
          <th><%= Spree::Address.human_attribute_name(:city) %></th>
          <td><%= address.city %>
        </tr>
        <tr>
          <th><%= Spree::Address.human_attribute_name(:country) %></th>
          <td><%= address.country.try(:name) %>
        </tr>
        <tr>
          <th><%= Spree::Address.human_attribute_name(:state) %></th>
          <td><%= address.state.try(:name) %>
        </tr>
        <tr>
          <th><%= Spree::Address.human_attribute_name(:zipcode) %></th>
          <td><%= address.zipcode %>
        </tr>
        <tr>
          <th><%= Spree::Address.human_attribute_name(:phone) %></th>
          <td><%= address.phone %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
